body {
    background-color: #4f5d75;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .header {
    background-color: #111827;
} */

h1 {
    font-size: 50px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;

}

h1 + h2 {
    color: #ef8354
}

.preheader {
    font-size: 75%;
}

h3{
    font-size: 150%;
    color: #ef8354
}

a:link {
    color: #bfc0c0;
}

a:visited {
    color: #bfc0c0;
}

.orgLink {
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: fit-content;
}

.inner {
    background-color: #2d3142;
    padding: 1px 5px;
}

.inner h4 {
    color: #bfc0c0;
    font-size: 125%;
    margin-bottom: 0.25rem;
}

.whatWeDo {
    background-color: #ef8354;
}

.whatWeDo h3 {
    color: #ffffff;
}

.whatWeDo p {
    color: #000000;
}

.whatWeDo h4 {
    color: #2d3142;
}

.outer {
    border: solid #ef8354;
    margin-bottom: 2rem;
}

.whatWeDo.outer {
    border: solid #2d3142;
}

p {
    color: white;
}
