html,
body {
    padding: 0px 0px;
    margin: 0px;
}

html * {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav {
    background-color: #4f5d75;
    opacity: .95;
    margin: 0px;
    border-style: none solid solid solid;
    border-radius: 0px 0px 20px 20px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-flex;   
    color: #ffffff;
    margin: 5px;
}

nav a {
    color: #ffffff;
}

main {
    margin: 0px 0px;
    padding: 0px 0px;
}

header {    
    color: #ffffff;
    background-image: url("assets/unsplash-kimson-doan-group_campfire.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin-top: -50px;
    margin: -50px 0 0 0;
    padding: 70px 10px 10px 20px;
    display: flex;
    flex-direction: column; /* align vertically */
    align-items: center;
    text-align: center;
    position: relative; /* this is to let the "header p" position be absolute */
}

header h1 {
    font-size: 5em;
    margin-bottom: 0px;
}

header h2 {
    margin-top: 0px;
    /* color: rgb(45, 49, 66); */
    font-style: oblique;
}

header p {
    position: absolute; /* to allow us to position it whereever we want */
    bottom: 0; /* position it right at the bottom of its parent */
    font-size: 0.75em;
}

a {
    color: inherit;
}

.drop-shadow {
    text-shadow: 0 5px 20px rgba(7, 2, 38, 0.75);
}

section {
    background-color: #2d3142;
    margin: inherit;
    padding: 80px 10%;
    color: #ffffff;
}

h3 {
    margin: inherit;
    font-size: 4em;
}

section p {
    font-size: 1.5em;
}

section figure {
    margin: inherit
}

figure img {
    width: 30vw;
    height: auto;
}